<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Please add all URLS from external JS here -->
    <meta http-equiv="Content-Security-Policy"
    content="style-src 'self' 'unsafe-inline';
    script-src 'self'
    http://localhost:35729
    http://js.stripe.com/v2/
    https://js.stripe.com/v2/
    http://*:35729/livereload.js
    http://*.ngrok.kondeo.com:35729/livereload.js
    http://*.ngrok.kondeo.com:8080
    https://srv1.kondeo.com:3003
    https://srv3.kondeo.com:3003
    'unsafe-inline' 'unsafe-eval'">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-hotkeys/build/hotkeys.css" />
    <link rel="stylesheet" href="bower_components/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- endbuild -->

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
        UNCOMMENTED AS BELOW!
    -->
    <link href="styles/main.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-hotkeys/build/hotkeys.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ionic/release/js/ionic.js"></script>
    <script src="bower_components/ionic/release/js/ionic-angular.js"></script>
    <script src="bower_components/ngCordova/dist/ng-cordova.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/tinymce-dist/tinymce.js"></script>
    <script src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/configuration.js"></script>
    <script src="scripts/controllers/index.js"></script>
    <script src="scripts/controllers/listing.js"></script>
    <script src="scripts/controllers/menu.js"></script>
    <script src="scripts/controllers/pageEdit.js"></script>
    <script src="scripts/controllers/pageView.js"></script>
    <script src="scripts/controllers/register.js"></script>
    <script src="scripts/controllers/settings.js"></script>
    <script src="scripts/controllers/spinner.js"></script>
    <script src="scripts/services/loginModal.js"></script>
    <script src="scripts/services/notifications.js"></script>
    <script src="scripts/services/loadingSpinner.js"></script>
    <script src="scripts/services/page.js"></script>
    <script src="scripts/services/price.js"></script>
    <script src="scripts/services/user.js"></script>
    <!-- endbuild -->

    <!-- Stripe -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  </head>

  <body ng-app="starter">
    <ion-nav-view></ion-nav-view>
  </body>


  <!-- Our loading spinner for the app -->
  <div ng-controller = "SpinnerCtrl">
      <div class = "darkOverlay"
      ng-if="loading.isLoading()">
      </div>
      <div class = "loadingContainer"
      ng-if="loading.isLoading()">

          <h2>Loading...</h2>

          <div class = "spinnerAnimation">
          </div>
      </div>
  </div>

</html>
