<ion-modal-view ng-controller="AppCtrl">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear"
      ng-if="loggedIn() && errors[0] != 12"
      ng-click="loginModal.hide()">
      Close
      </button>
    </div>
  </ion-header-bar>
  <ion-content>

    <form
    ng-controller = "LoginCtrl"
    ng-submit="doLogin()">

        <!-- Placing two fake auth fields to
        stop chrome autofill -->
        <input type="text" name="fname"
        id="firstname" x-autocompletetype="given-name"
        autocomplete="false" style = "display:none">
        <input type="password" name="password"
        id="password" autocomplete="false"
        style = "display:none">

      <div class="list">
        <label class="item item-input">
          <span class="input-label"
          ng-class="{'errorFormText': authError}">
          Email</span>
          <input type="text" ng-model="loginData.email" autocomplete="off"  autocorrect="off" autocapitalize="none" spellcheck="false">
        </label>
        <label class="item item-input">
          <span class="input-label"
          ng-class="{'errorFormText': authError}">
          Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive"
          type="submit"
          ng-disabled="!loginData.email || !loginData.password || loading.isLoading()">
          Log in</button>
        </label>
      </div>
    </form>

    <div class = "register"
    ng-if="!loggedIn() && clientConfig.SUBSCRIBE_PAGE">
        Or you can <a href="#/app/register" ng-click = "loginModal.hide()">register for a subscription</a>
    </div>

    <div class = "register"
    ng-if="!loggedIn() && clientConfig.SUBSCRIBE_ONLINE_TEXT && !clientConfig.SUBSCRIBE_PAGE">
        To register, please go online to ccracodes.com on your computer.
    </div>

    <div class = "register"
    ng-if="!clientConfig.SUBSCRIBE_ONLINE_TEXT && !clientConfig.SUBSCRIBE_PAGE">
        Use your CCRA credentials.
    </div>

    <div class = "register"
    ng-if="loggedIn() && clientConfig.SUBSCRIBE_PAGE">
        Or you can <a href="#/app/register" ng-click = "loginModal.hide()">manage your subcription</a>
    </div>
  </ion-content>
</ion-modal-view>
