<ion-view view-title="Manage Promo Codes">
<ion-content>
  <label class="item item-input">
    <span class="input-label">Generate Promo Codes</span>
    <input type="number" ng-model="$parent.tokenNum" placeholder="Enter the Number of Desired Promo Codes">
  </label>
  <button class="button button-full button-positive" ng-click="getPromoCodes()">
     Generate Promo Codes
  </button>

 <div ng-show="promoCodes">
   <button class="button button-full button-positive" ng-click="selectAll()">
     Select All Codes Below
   </button>
   <textarea id="promo-area" rows="{{promoArray.length}}" cols="50" class="promo-codes">{{promoCodes}}</textarea>
 </div>
</ion-content>
</ion-view>
