<ion-view
view-title="Index"
class = "fixedSearch">

    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input class="searchInput" type="text" placeholder="Enter a search term..." ng-model="query" ng-keyup="$event.keyCode == 13 && search(query)">
      </label>
      <button class="button button-small" ng-click="search(query)">
        Search
      </button>
    </div>

  <ion-content>
    <ion-list
    class = "serachList">
        <div class="list">

        </div>

        <div ng-if="!query"
        class="center noSearch">

            Please type in a search above.
            Or, go to <a href="#/app/page/23">the beginning</a>.

        </div>
        <div ng-if="query && !searched" class="center noSearch">

            Please tap "search" to execute your query.

        </div>
        <div ng-if="query && searched && searchResults.length < 1" class="center" style="text-align:center">

            Your query returned no results. Please try with a more general term.

        </div>

        <div class="card" ng-if="searched && searchResults.length > 0">
          <div class="item item-text-wrap" ng-repeat="result in searchResults" ng-click="goTo(result._source.number)" ng-bind-html="result.highlight.content[0]"></div>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
