<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-if="loggedIn() && errors[0] != 12" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label"
          ng-class="{'errorFormText': authError}">
          Email</span>
          <input type="text" ng-model="loginData.email" autocomplete="off"  autocorrect="off" autocapitalize="none" spellcheck="false">
        </label>
        <label class="item item-input">
          <span class="input-label"
          ng-class="{'errorFormText': authError}">
          Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive"
          type="submit"
          ng-disabled="!loginData.email || !loginData.password || loading.isLoading()">
          Log in</button>
        </label>
      </div>
    </form>

    <div class = "register"
    ng-if="!loggedIn()">
        Or you can <a href="#/app/register" ng-click = "closeLogin()">register for a subcription</a>
    </div>

    <div class = "register"
    ng-if="loggedIn()">
        Or you can <a href="#/app/register" ng-click = "closeLogin()">manage your subcription</a>
    </div>
  </ion-content>
</ion-modal-view>
