<ion-view view-title="Subscription">
<ion-content>
    <form name = "registerForm" ng-init="subType = 'new'">

        <!-- Placing two fake auth fields to
        stop chrome autofill -->
        <input type="text" name="fname"
        id="firstname" x-autocompletetype="given-name"
        autocomplete="false" style = "display:none">

        <input type="password" name="password"
        id="password" autocomplete="false"
        style = "display:none">

        <!-- fake cc fields-->
        <input type="tel" name="ccNumber"
        id="ccNumber" x-autocompletetype="given-name"
        autocomplete="false" style = "display:none">

        <input type="number" name="expireM"
        id="expireM" autocomplete="false"
        style = "display:none">

        <input type="number" name="expireY"
        id="expireM" autocomplete="false"
        style = "display:none">

        <input type="number" name="cardCVV"
        id="cardCVV" autocomplete="false"
        style = "display:none">

        <input type="number" name="zipCode"
        id="userZip" autocomplete="false"
        style = "display:none">


      <div class="list subTypeSel">

        <div class="item item-divider" ng-if="loggedIn()">
            Your current subscription is valid until: {{subscription}}
        </div>

        <label class="item item-input">
          <span class="input-label"
          ng-class="{'errorFormText': emailError}">
          Email</span>
          <input type="text" ng-model="registerData.email"
          placeholder="example@example.com"
          autocomplete="off"  autocorrect="off"
          autocapitalize="none" spellcheck="false"
          required>
        </label>
        <label class="item item-input">
          <span class="input-label"
          ng-class="{'errorFormText': passwordError}">
          Password</span>
          <input type="password"
          ng-model="registerData.password"
          placeholder="Secure Password"
          required>
        </label>
        <label class="item item-input" ng-if="!loggedIn()">
          <span class="input-label"
          ng-class="{'errorFormText': passwordError ||
          (registerForm.$valid &&
          registerForm.confirmPassword.$touched &&
          registerData.password != registerData.confirmPassword)}">
          Confirm Password</span>
          <input type="password"
          name="confirmPassword"
          ng-model="registerData.confirmPassword"
          placeholder="Secure Password"
          required>
        </label>

        <!-- Credit Card Number -->
        <label class="item item-input">
          <span class="input-label"
          ng-class="{'errorFormText': cardError ||
          (registerForm.$valid &&
          registerForm.ccNumber.$touched &&
          !validCC)}">
          Credit Card Number</span>
          <input
              type="tel"
              id="ccNumber"
              name="ccNumber"
              ng-model="registerData.ccNumber"
              placeholder="XXXX-XXXX-XXXX-XXXX"
              ng-focus="ccUnStar()"
              ng-blur = "ccStar()"
              ng-keydown="numbersOnly($event);maxLength($event, 19)"
              ng-keyup="formatCC($event)">
        </label>
        <label class="item item-input">
          <span class="input-label"
          ng-class="{'errorFormText': cardError}">
          Experation Month</span>
          <input
                type="number"
                id="expireM"
                name="expireM"
                ng-keyup = "validateDate()"
                ng-keydown="maxLength($event, 2)"
                placeholder="MM"
                size="2"
                pattern="\d*"
                ng-model="registerData.expireM">
        </label>
        <label class="item item-input">
          <span class="input-label"
          ng-class="{'errorFormText': cardError}">
          Experation Year</span>
          <input
                type="number"
                id="expireY"
                name="expireY"
                ng-keyup = "validateDate()"
                ng-keydown="maxLength($event, 4)"
                placeholder="YYYY"
                size="4"
                pattern="\d*"
                ng-model="registerData.expireY">
        </label>
        <label class="item item-input">
          <span class="input-label"
          ng-class="{'errorFormText': cardError ||
          (registerForm.$valid &&
          registerForm.cardCvv.$touched &&
          !cvcValidated)}">
          CVV (Located on Back of Card)</span>
          <input
                type="number"
                id="cardCvv"
                name="cardCvv"
                ng-keyup = "validateCVC()"
                ng-keydown="maxLength($event, 3)"
                placeholder="CVV"
                size="3"
                pattern="\d*"
                ng-model="registerData.cvv">
        </label>
        <label class="item item-input">
          <span class="input-label"
          ng-class="{'errorFormText': cardError ||
          (registerForm.$valid &&
          registerForm.zipCode.$touched &&
          !zipValidated)}">
          Zip Code</span>
          <input
                type="number"
                id="userZip"
                name="zipCode"
                ng-keyup = "validateZip()"
                ng-keydown="maxLength($event, 5)"
                placeholder="55555"
                size="5"
                pattern="\d*"
                ng-model="registerData.zipCode">
        </label>

        <!-- Register Subscription for the app -->
        <label class="item">
          <button class="button button-block button-positive"
          type="submit" ng-if = "!loggedIn()"
          ng-disabled = "!registerForm.$valid ||
          registerData.password != registerData.confirmPassword ||
          !cardValidated ||
          loading.isLoading()"
          ng-click="registerUser()">{{priceText}}</button>

        <!-- Update Information for the user -->
          <button class="button button-block button-positive"
          type="submit" ng-if = "loggedIn()"
          ng-disabled = "!registerForm.$valid ||
          !cardValidated ||
          loading.isLoading()"
          ng-click="updateUser()">{{priceText}}</button>

          <button class="button button-block button-stable"
          ng-click = "goToPrev()">Cancel</button>
        </label>
      </div>
    </form>
</ion-content>
</ion-view>
