<ion-view view-title="Application Settings">
  <ion-content>
    <ul class="list">

      <li class="item item-toggle" ng-if="platformIOS">
        Easy Reading Page Color
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="settings.easyReading" ng-change="saveSettings()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item" ng-if="!platformIOS">
        <div style="vertical-align: text-bottom">Easy Reading Page Color</div>
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="pagecolor" ng-model="settings.easyReading" ng-change="saveSettings()">
          <label class="onoffswitch-label" for="pagecolor"></label>
        </div>
        </div>
      </li>

      <li class="item item-toggle" ng-if="platformIOS">
        Show Tutorial on Search Page
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="settings.tutorial" ng-change="saveSettings()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item" ng-if="!platformIOS">
        <div style="vertical-align: text-bottom">Show Tutorial on Search Page</div>
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="tutorialswitch" ng-model="settings.tutorial" ng-change="saveSettings()">
          <label class="onoffswitch-label" for="tutorialswitch"></label>
        </div>
        </div>
      </li>

      <li class="item">
        Your platform is:
        <d ng-if="platformAndroid">Android</d>
        <d ng-if="platformIOS">IOS</d>
        <d ng-if="!platformIOS && !platformAndroid">Web</d>
      </li>
      <li class="item" ng-if="!platformIOS && !platformAndroid">
        Use ctrl+D on the index page to bookmark this app.
      </li>

      <div class="item"
      ng-if = "loggedIn()">
          <button
          class="button button-full button-assertive editPageSave"
          ng-click="logOut()">
             Log Out
          </button>
      </div>
    </ul>
  </ion-content>
</ion-view>
